@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@theme {
  --color-orange: #ff9100;
  --color-orange-dark: #ff6d00;
  --color-blue-main: #9d4edd;
  --color-blue-darker: #7b2cbf;
  --color-blue-dark: #5a189a;
}